body{
  background-color: gray;
}

#buttons{
  margin-bottom: 1rem;
}

#setup {
  background-color: red;
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#reset {
  background-color: blue;
  border: none;
  color: white;
  padding: 25px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px;
  padding: 10px;
  height: 200px;  
}

#result{
  width: 5rem;
  display: inline-block;
}