<mat-toolbar color="primary">
  {{title}}
</mat-toolbar>
<div class="content">
  <div class="row">
    <div class="col-md-3">
      <app-manipulate></app-manipulate>
    </div>
    <div class="col-md-3 offset-md-2">
      <app-shape></app-shape>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="20%" style="text-align: center;">
      <app-selection></app-selection>
    </div>
    <div fxFlex="60%" style="text-align: center;">
      <app-board></app-board>
    </div>
    <div fxFlex="20%" style="text-align: center;">
      <app-control></app-control>
    </div>
    <div fxFlex="100%" style="text-align: center;" [hidden]="gameResult == undefined">
      <mat-button-toggle-group [value]="toggle" #repToggleGroup="matButtonToggleGroup" (change)="toggleView($event)">
        <mat-button-toggle [value]="true">
            2D Representation
        </mat-button-toggle>
        <mat-button-toggle [value]="false">
            3D Representation
        </mat-button-toggle>
      </mat-button-toggle-group>
      <br />
      <app-three-d-board  [hidden]="repToggleGroup.value"></app-three-d-board>
      <app-show-results  [hidden]="!repToggleGroup.value"></app-show-results>
    </div>
  </div>
</div>

