<!-- <mat-card>
  <mat-card-content>
  </mat-card-content>
</mat-card> -->
<div class="grid">
  <canvas #board25 class="game-board" *ngIf="gridShape == 5"></canvas>
  <canvas #board16 class="game-board"></canvas>
  <canvas #board9 class="game-board"></canvas>
  <canvas #board4 class="game-board"></canvas>
  <canvas #board1 class="game-board"></canvas>
</div>

<p></p>

<div class="alert alert-success" *ngIf="gameOutcome.solved && gameOutcome.solution" role="alert">
  Yipee! Solution found
</div>
<div class="alert alert-danger" *ngIf="gameOutcome.solved && !gameOutcome.solution" role="alert">
  Oops! !No solution found. Please try again.
</div>

